//
// NamespaceManagementclusterSizeInfoAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class NamespaceManagementclusterSizeInfoAPI {
    /**
     Get information about the default values associated with various sizes. if you do not have all of the privileges described as follows:     -  Operation execution requires System.Read.  
     
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func callGet(completion: @escaping ((_ data: [String:VcenterNamespaceManagementClusterSizeInfoInfo]?,_ error: Error?) -> Void)) {
        callGetWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Get information about the default values associated with various sizes. if you do not have all of the privileges described as follows:     -  Operation execution requires System.Read.  
     - GET /api/vcenter/namespace-management/cluster-size-info
     - API Key:
       - type: apiKey vmware-api-session-id 
       - name: session_id
     - examples: [{contentType=application/json, example={"empty": false}}]

     - returns: RequestBuilder<[String:VcenterNamespaceManagementClusterSizeInfoInfo]> 
     */
    open class func callGetWithRequestBuilder() -> RequestBuilder<[String:VcenterNamespaceManagementClusterSizeInfoInfo]> {
        let path = "/api/vcenter/namespace-management/cluster-size-info"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<[String:VcenterNamespaceManagementClusterSizeInfoInfo]>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
