//
// TrustedInfrastructureprincipalAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class TrustedInfrastructureprincipalAPI {
    /**
     Returns information about the STS used by this vCenter instance. if you do not have all of the privileges described as follows:     -  Operation execution requires TrustedAdmin.ReadStsInfo.  
     
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func callGet(completion: @escaping ((_ data: VcenterTrustedInfrastructurePrincipalInfo?,_ error: Error?) -> Void)) {
        callGetWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Returns information about the STS used by this vCenter instance. if you do not have all of the privileges described as follows:     -  Operation execution requires TrustedAdmin.ReadStsInfo.  
     - GET /api/vcenter/trusted-infrastructure/principal
     - API Key:
       - type: apiKey vmware-api-session-id 
       - name: session_id
     - examples: [{contentType=application/json, example={"empty": false}}]

     - returns: RequestBuilder<VcenterTrustedInfrastructurePrincipalInfo> 
     */
    open class func callGetWithRequestBuilder() -> RequestBuilder<VcenterTrustedInfrastructurePrincipalInfo> {
        let path = "/api/vcenter/trusted-infrastructure/principal"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<VcenterTrustedInfrastructurePrincipalInfo>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
